* {
    margin:0;
    padding:0;
    background-image: url(Media/background.jpeg)
}

.nav {
    display: flex;
    background-color: #141414;
    height: 50px;
    justify-content: space-around;
    font-family: Arial, sans-serif;
}

.nav h1 a{
    color:blue;
    text-decoration: none;
    line-height: 50px;
}

.nav ul {
    list-style: none;
}

.nav li {
    float: left;
}

.nav li a {
    color: whitesmoke;
    text-decoration: none;
    line-height: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    transition: 0.25s ease;
}

.nav li a:hover {
    color:blue;
    transition: 0.25s ease;
}

.picture{
    width: 40%;
    float:left;
    margin-bottom: 30vh;
    padding-left:10%;
    margin-top:20vh;
}

.picture img {
    width: 90%;
}

.article{
    width: 40%;
    float:right;
    margin-bottom: 30vh;
    padding-right:10%;
    margin-top:20vh;

}

.footer {
    height:3vh;
    clear:both;
    color:ivory;
    font-size: 1.5vw;
    text-align: center;
    float:bottom;
    
}


